{
  "extends": [
    "@jedwards1211/eslint-config-react",
    "@jedwards1211/eslint-config-flow",
    "prettier",
    "prettier/babel",
    "prettier/flowtype",
    "prettier/react"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "es2017": true
  },
  "settings": {
    "react": {
      "pragma": "React", // Pragma to use, default to "React"
      "version": "detect", // React version. "detect" automatically picks the version you have installed.
      // You can also use `16.0`, `16.3`, etc, if you want to override the detected value.
      "flowVersion": "detect" // Flow version
    }
  }
}
